<?xml version="1.0" encoding="UTF-8"?>
<!-- {{ ansible_managed }} -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>be.neodata.smartmon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>{{ macos_smart_textfile_dir | dirname }}/smartmon.py</string>
  </array>
  <!-- Elk kwartier, net als de timers op pve01. -->
  <key>StartInterval</key>
  <integer>900</integer>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>{{ macos_brew_path | dirname }}/var/log/smartmon.log</string>
</dict>
</plist>
