// Geschreven door playbooks/docs.yml. Niet bewerken.
export default {
  index: 'Alle diensten',
{% for s in docs_all_services | sort(attribute='name') %}
  '{{ s.name }}': '{{ s.name }}',
{%- endfor %}
}
