---
galaxy_info:
  role_name: [[ svc_name ]]
  author: rubenclaes
  description: >-
    [[ svc_desc ]]
  license: MIT
  min_ansible_version: "2.17"
  platforms:
    - name: Debian
      versions:
        - bookworm
        - trixie
  galaxy_tags:
    - TODO

# Rollen worden hier door playbooks samengesteld, niet door role-dependencies,
# zodat de volgorde zichtbaar blijft in playbooks/site.yml.
dependencies: []
