---
# [[ svc_desc ]]
#
#   ansible-playbook playbooks/[[ svc_name ]].yml
#
# Een dunne wrapper, net als caddy.yml en adguard.yml: hij bestaat zodat je
# één dienst los kunt draaien en zodat site.yml hem kan importeren. De tags
# horen hier en niet in de rol, want site.yml --tags leest ze op playniveau.
- name: [[ svc_desc ]]
  hosts: [[ svc_host ]]
  roles:
    - [[ svc_name ]]
  tags: [[ '[' ]][[ svc_name ]], [[ svc_tag ]][[ ']' ]]
